body {
	background: #A3BFD2;
	/*color: navy;*/
	font: 1.5rem Arial, Verdana, Sans-Serif;
	margin: 0 auto;
	padding: 5%;
	text-align: center;
}

h1 {
	color: #EEEEEE;
}

a {
	margin: 10%;
	font-size: 1rem;
	font-weight: 700;
	color: #EEE;
}

.small {
  width:70%;
  margin: 0 auto;
}

li {
	color: white;
}

button {
	color: black !important;
}

.sticky{
		color: black;
		background: white;
    position:fixed;
    top:51px;
    width:90%;
    z-index:100;
    text-align: center;
    margin: 0 auto;
    font-size:2em;
}
.navbar-brand {
	padding: 0em 2em;

}

#logo {
	border: gray;
	height: 3em;
}

form {
	/*margin: 0 auto;*/
	text-align: center;
}
