body {
	background: #222;
	color: navy;
	font: 1.5rem Arial, Verdana, Sans-Serif;
	margin: 0;
	padding: 5%;
	text-align: center;
}

h1 {
	color: #EEEEEE;
}

a {
	margin: 10%;
	font-size: 1rem;
	font-weight: 700;
	color: #EEE;
}

li {
	color: white;
}

button {
	color: black !important;
}

/*form {
	width: 50em;
	padding: 2em;
	margin: 0 auto;
}
*/