body {
  background: #067BD0;
  font: 1.5rem Arial, Verdana, Sans-Serif;
}

a {
  margin: 10%;
  font-size: 1rem;
  font-weight: 700;
  color: #EEE;
}

li {
  color: white;
}

.sticky{
  color: black;
  background: #A3BFD2;
  border: 1px solid transparent;
  border-radius: 4px;
  position:fixed;
  top:51px;
  width:70%;
  z-index:1000;
  text-align: center;
  margin: 0 auto;
  font-size:2em;
}

.navbar {
  background: white;
}

.navbar-brand {
  padding: 0em 2em;
}

#logo {
  height: 3em;
}
