
 <form>
      <input type="text" id="employee_id" placeholder="ID" name="employee_id">
      <input type="text" id="amount" placeholder="Amount" name="amount">
      <select name="category" id="category">
        <option value="taxi">taxi</option>
        <option value="airtravel">Air travel</option>
        <option value="rail">rail</option>
        <option value="lunch">lunch</option>
        <option value="hotel">hotel</option>
      </select>
      <input type="text" id="description" placeholder="description" name="description">
      <input type="submit" id="submit" name="submit">
  </form>

