<h1>New Expenses!</h1>
<p>Submit your expense</p>
<form id="new_expenses" action ="" method="POST">
      <p>
        <select name="project_code" id="project_code">
        <option value="MOD">Ministry of Defence</option>
        <option value="Sotchi">Sotchi</option>
        <option value="World Line">World Line</option>
      </p>
      <input type="text" id="amount" placeholder="Amount" name="amount">
      <select name="currency" id="currency">
        <option value="GBP">GBP</option>
        <option value="USD">USD</option>
        <option value="EUR">EUR</option>
      </select>
      <select name="day" id="day">
        <option value="1">1</option>
        <option value="2">2</option>
        <option value="3">3</option>
        <option value="4">4</option>
        <option value="5">5</option>
        <option value="6">6</option>
        <option value="7">7</option>
        <option value="8">8</option>
        <option value="9">9</option>
        <option value="10">10</option>
        <option value="11">11</option>
        <option value="12">12</option>
        <option value="13">13</option>
        <option value="14">14</option>
        <option value="15">15</option>
        <option value="16">16</option>
        <option value="17">17</option>
        <option value="18">18</option>
        <option value="19">19</option>
        <option value="20">20</option>
        <option value="21">21</option>
        <option value="22">22</option>
        <option value="23">23</option>
        <option value="24">24</option>
        <option value="25">25</option>
        <option value="26">26</option>
        <option value="27">27</option>
        <option value="28">28</option>
        <option value="29">29</option>
        <option value="30">30</option>
        <option value="31">31</option>
      </select>
      <select name="month" id="month">
        <option value="January">January</option>
        <option value="Febuary">Febuary</option>
        <option value="March">March</option>
        <option value="April">April</option>
        <option value="May">May</option>
        <option value="June">June</option>
        <option value="July">July</option>
        <option value="August">August</option>
        <option value="September">September</option>
        <option value="October">October</option>
        <option value="November">November</option>
        <option value="December">December</option>
      </select>
      <select name="year" id="year">
        <option value="2015">2015</option>
        <option value="2014">2014</option>
      </select>
      <select name="category" id="category">
        <option value="taxi">Taxi</option>
        <option value="air_travel">Air travel</option>
        <option value="rail">Rail</option>
        <option value="lunch">Lunch</option>
        <option value="hotel">Hotel</option>
        <option value="evening_meal">Evening meal</option>
      </select>
      <input type="text" id="description" placeholder="description" name="description">
      <p>
      <select name="city" id="city">
        <option value="London">London</option>
        <option value="Paris">Paris</option>
        <option value="New York">New York</option>
      </select>
      <input type="text" id="country" placeholder="UK">
      </p>
      <p><input type="submit" id="submit" name="Submit expense"></p>
</form>
<ul id="expenses_list">
</ul>
