<!DOCTYPE html>
<html lan="en">
  <head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Expensenator</title>
    <link rel='stylesheet' type='text/css' href='/css/application.css'>
    <link rel='stylesheet' type='text/css' href='/css/normalize.css'>
    <link href="css/bootstrap.min.css" rel="stylesheet">
    <script type="text/javascript" src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
  </head>
  <body>
    <%= yield %>
    <script type="text/javascript" src="./js/interface.js"></script>
    <script src="js/bootstrap.min.js"></script>
  </body>
</html>
